<?xml version="1.0"?>
<!--
  Copyright 2015 Fadri Furrer, ASL, ETH Zurich, Switzerland
  Copyright 2015 Michael Burri, ASL, ETH Zurich, Switzerland
  Copyright 2015 Mina Kamel, ASL, ETH Zurich, Switzerland
  Copyright 2015 Janosch Nikolic, ASL, ETH Zurich, Switzerland
  Copyright 2015 Markus Achtelik, ASL, ETH Zurich, Switzerland

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot name="firefly" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Properties -->
  <xacro:property name="namespace" value="$(arg namespace)" />
  <xacro:property name="rotor_velocity_slowdown_sim" value="10" />

  <xacro:property name="use_mesh_file" value="False" />
  <xacro:property name="mesh_file" value="package://rotors_description/meshes/firefly.dae" />
  <xacro:property name="mass" value="0.5" /> <!-- [kg] -->
  <xacro:property name="body_width" value="0.1" /> <!-- [m] -->
  <xacro:property name="body_height" value="0.16" /> <!-- [m] -->

  <xacro:property name="mass_rotor" value="0.005" /> <!-- [kg] -->
  <xacro:property name="arm_length" value="0.215" /> <!-- [m] -->
  <xacro:property name="rotor_offset_top1" value="0.03" /> <!-- [m] -->
  <xacro:property name="rotor_offset_top2" value="0.018" />
  <xacro:property name="radius_rotor" value="0.1" /> <!-- [m] -->
  <xacro:property name="motor_constant" value="8.54858e-06" /> <!-- [kg m/s^2] -->
  <xacro:property name="moment_constant" value="0.016" /> <!-- [m] -->
  <xacro:property name="time_constant_up" value="0.0125" /> <!-- [s] -->
  <xacro:property name="time_constant_down" value="0.025" /> <!-- [s] -->
  <xacro:property name="max_rot_velocity" value="838" /> <!-- [rad/s] -->
  <xacro:property name="rotor_drag_coefficient" value="8.06428e-05" />
  <xacro:property name="rolling_moment_coefficient" value="0.000001" />
  <xacro:property name="rotor_roll" value="1.047197" />

  <xacro:property name="link_roll" value="1.57" />
  <xacro:property name="link_mass" value="0.01" />
  <xacro:property name="link_radius" value="0.01" />
  <xacro:property name="link_offset_top" value="0.02" />
  <xacro:property name="link_offset_base" value="0.1575" />


  <!-- Aileron properties -->
  <xacro:property name="aileron_length" value="0.53" />  <!-- [m] -->
  <xacro:property name="aileron_width" value="0.349" /> <!-- [m] -->
  <xacro:property name="aileron_height" value="0.013" />  <!-- [m] -->
  <xacro:property name="aileron_min_angle" value="-0.349066" />  <!-- [rad] -->
  <xacro:property name="aileron_max_angle" value="0.349066" />  <!-- [rad] -->
  <xacro:property name="aileron_color" value="Red" />

  <!-- Component masses -->
  <xacro:property name="mass_aileron" value="0.1" />  <!-- [kg] -->
  <xacro:property name="mass_flap" value="0.01" /> <!-- [kg] -->

  <!-- Flap properties -->
  <xacro:property name="flap_length" value="1" /> <!-- [m] -->
  <xacro:property name="flap_width" value="0.8" /> <!-- [m] -->
  <xacro:property name="flap_height" value="0.02" /> <!-- [m] -->
  <xacro:property name="flap_min_angle" value="0.0" /> <!-- [rad] -->
  <xacro:property name="flap_max_angle" value="1.0" /> <!-- [rad] -->
  <xacro:property name="flap_color1" value="Red" />
  <xacro:property name="flap_color2" value="Blue" />
  <xacro:property name="use_mesh" value="true" />
  <xacro:property name="flap_offset_x" value="0.04" />
  <xacro:property name="flap_offset_y" value="0.28" />      
  <xacro:property name="flap_offset_z" value="0.02" />
    <!-- Constants -->
  <xacro:property name="PI" value="3.1415926535897931" />


  <!-- Property Blocks -->
  <xacro:property name="body_inertia">
    <inertia ixx="0.347563" ixy="0.0" ixz="0.0" iyy="0.458929" iyz="0.0" izz="0.977" /> <!-- [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] -->
  </xacro:property>

  <xacro:property name="link_inertia">
    <inertia ixx="0.000347563" ixy="0.0" ixz="0.0" iyy="0.000458929" iyz="0.0" izz="0.000977" /> <!-- [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] -->
  </xacro:property>

  <!-- inertia of a single rotor, assuming it is a cuboid. Height=3mm, width=15mm -->
  <xacro:property name="rotor_inertia">
    <xacro:box_inertia x="${radius_rotor}" y="0.015" z="0.003" mass="${mass_rotor*rotor_velocity_slowdown_sim}" />
  </xacro:property>

    <!-- Inertia of the aileron, assuming it is a cuboid -->
  <xacro:property name="aileron_inertia">
    <xacro:box_inertia x="${aileron_length}" y="${aileron_width}" z="${aileron_height}" mass="${mass_aileron}" />
  </xacro:property>

    <!-- Inertia of the flap, assuming it is a cuboid -->
  <xacro:property name="flap_inertia">
    <xacro:box_inertia x="${flap_length}" y="${flap_width}" z="${flap_height}" mass="${mass_flap}" />
  </xacro:property>

  <!-- Included URDF Files -->
  <xacro:include filename="$(find spincopter_description)/urdf/rotor_wing_base.xacro" />

  <!-- Instantiate multirotor_base_macro once -->
  <xacro:multirotor_base_macro
    robot_namespace="${namespace}"
    mass="${mass}"
    body_width="${body_width}"
    body_height="${body_height}"
    use_mesh_file="${use_mesh_file}"
    mesh_file="${mesh_file}"
    >
    <xacro:insert_block name="body_inertia" />
  </xacro:multirotor_base_macro>

    
  <xacro:link_o
    robot_namespace="${namespace}"
    parent="${namespace}/base_link"
    mass_link="${link_mass}"
    radius_link="${link_radius}"
    length_link="${arm_length}"
    link_number="0"
    color="Blue"
    >
    <origin xyz="${link_offset_base} 0 ${link_offset_top}" rpy="0 ${link_roll} 0" />
    <xacro:insert_block name="link_inertia" />
  </xacro:link_o>

    <xacro:link_o
    robot_namespace="${namespace}"
    parent="${namespace}/base_link"
    mass_link="${link_mass}"
    radius_link="${link_radius}"
    length_link="${arm_length}"
    link_number="2"
    color="Red"
    >
    <origin xyz="-${link_offset_base} 0 ${link_offset_top}" rpy="0 ${link_roll} 0" />
    <xacro:insert_block name="link_inertia" />
  </xacro:link_o>

  <!-- Instantiate rotors -->
  <xacro:vertical_rotor
    robot_namespace="${namespace}"
    suffix="left"
    direction="ccw"
    motor_constant="${motor_constant}"
    moment_constant="${moment_constant}"
    parent="${namespace}/base_link"
    mass_rotor="${mass_rotor}"
    radius_rotor="${radius_rotor}"
    time_constant_up="${time_constant_up}"
    time_constant_down="${time_constant_down}"
    max_rot_velocity="${max_rot_velocity}"
    motor_number="0"
    rotor_drag_coefficient="${rotor_drag_coefficient}"
    rolling_moment_coefficient="${rolling_moment_coefficient}"
    color="Blue"
    use_own_mesh="False"
    mesh="">
    <origin xyz="${arm_length} ${rotor_offset_top2} ${rotor_offset_top1}" rpy="-${rotor_roll} 0 0" />
    <xacro:insert_block name="rotor_inertia" />
  </xacro:vertical_rotor>

  <xacro:vertical_rotor 
    robot_namespace="${namespace}"
    suffix="right"
    direction="ccw"
    motor_constant="${motor_constant}"
    moment_constant="${moment_constant}"
    parent="${namespace}/base_link"
    mass_rotor="${mass_rotor}"
    radius_rotor="${radius_rotor}"
    time_constant_up="${time_constant_up}"
    time_constant_down="${time_constant_down}"
    max_rot_velocity="${max_rot_velocity}"
    motor_number="1"
    rotor_drag_coefficient="${rotor_drag_coefficient}"
    rolling_moment_coefficient="${rolling_moment_coefficient}"
    color="Red"
    use_own_mesh="false"
    mesh="">
    <origin xyz="-${arm_length} -${rotor_offset_top2} ${rotor_offset_top1}" rpy="${rotor_roll} 0 0" />
    <xacro:insert_block name="rotor_inertia" />
  </xacro:vertical_rotor>

 <!-- Instantiate the ailerons 
 
  <xacro:control_surface
    robot_namespace="${namespace}"
    surface_name="aileron_left"
    parent="${namespace}/base_link"
    mass_surface="${mass_aileron}"
    min_angle="${aileron_min_angle}"
    max_angle="${aileron_max_angle}"
    color="${aileron_color}"
    use_mesh_file="${use_mesh}"
    mesh_file="package://rotors_description/meshes/techpod/techpod_aileron_left.dae"
    surface_length="${aileron_length}"
    surface_width="${aileron_width}"
    surface_height="${aileron_height}">
    <axis xyz="0 -1 0" />  
    <origin xyz="0.1095 0.99245 0.115" rpy="0 0 0" />   
    <origin xyz="0 0 0" rpy="0 0 0" /> 
    <xacro:insert_block name="aileron_inertia" />
  </xacro:control_surface>

  <xacro:control_surface
    robot_namespace="${namespace}"
    surface_name="aileron_right"
    parent="${namespace}/base_link"
    mass_surface="${mass_aileron}"
    min_angle="${aileron_min_angle}"
    max_angle="${aileron_max_angle}"
    color="${aileron_color}"
    use_mesh_file="${use_mesh}"
    mesh_file="package://rotors_description/meshes/techpod/techpod_aileron_right.dae"
    surface_length="${aileron_length}"
    surface_width="${aileron_width}"
    surface_height="${aileron_height}">
    <axis xyz="0 1 0" />   
    <origin xyz="0.1095 -0.99245 0.115" rpy="0 0 0" />   
    <origin xyz="0 0 0" rpy="0 0 0" />   
    <xacro:insert_block name="aileron_inertia" />
  </xacro:control_surface>

-->

  <!-- Instantiate the flaps -->
  <xacro:control_surface
    robot_namespace="${namespace}"
    surface_name="flap_left"
    parent="${namespace}/base_link"
    mass_surface="${mass_flap}"
    min_angle="${flap_min_angle}"
    max_angle="${flap_max_angle}"
    color="${flap_color1}"
    use_mesh_file="${use_mesh}"
    mesh_file="package://rotors_description/meshes/techpod/techpod_flap_right.dae"
    surface_length="${flap_length}"
    surface_width="${flap_width}"
    surface_height="${flap_height}"
    surface_x="-1"
    >
    <axis xyz="0 -1 0" />   <!-- Joint axis -->
    <origin xyz="-${flap_offset_x} ${flap_offset_y} ${flap_offset_z}" rpy="0 0 ${PI}" />   <!-- Joint origin -->
    <origin xyz="0 0 0" rpy="0 0 0" />   <!-- Link origin -->
    <xacro:insert_block name="flap_inertia" />
  </xacro:control_surface>


  <xacro:control_surface
    robot_namespace="${namespace}"
    surface_name="flap_right"
    parent="${namespace}/base_link"
    mass_surface="${mass_flap}"
    min_angle="${flap_min_angle}"
    max_angle="${flap_max_angle}"
    color="${flap_color2}"
    use_mesh_file="${use_mesh}"
    mesh_file="package://rotors_description/meshes/techpod/techpod_flap_right.dae"
    surface_length="${flap_length}"
    surface_width="${flap_width}"
    surface_height="${flap_height}"
    surface_x="1"
    >
    <axis xyz="0 1 0" />   <!-- Joint axis -->
    <origin xyz="${flap_offset_x} -${flap_offset_y} ${flap_offset_z}" rpy="0 0 0" />
    <origin xyz="0 0 0" rpy="0 0 0" />   <!-- Link origin -->
    <xacro:insert_block name="flap_inertia" />
  </xacro:control_surface>


</robot>